---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Guides" description="Guides description">
    <main class="px-4">
        <div class="bg-black/40 items-center justify-center flex flex-col gap-6 py-20">

            <h1>Guides Page</h1>
            <a href="/" class="inline-flex items-center gap-2 px-4 py-2 bg-white text-black rounded-md 
            shadow hover:opacity-90">
                Back to Home
            </a>
        </div>
    </main>
</Layout>