---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
{
    date: 'October 2025 - Currently...',
    title: 'Web Developer',
    icon: '../img/filmpediatv_logo.webp',
    link: 'https://plataforma.filmpedia.org/',
    company: 'FilmpediaTV',
    description:
        `Developing and maintaining websites using modern web technologies.
        Collaborating with designers and content creators to ensure optimal user experience.
        Implementing responsive design principles to ensure compatibility across devices.`,
  },
  {
    date: 'June 2024 – August 2024',
    title: 'Unity Developer – Android API & Backend',
    icon: '../img/brainvt_logo.webp',
    link: 'https://www.brainvt.com/',
    company: 'BrainVT',
    description:
        `Upgraded Android project to API 30+,fixed device compatibility.
        Resolved AWS backend issues, restoring stability in cloud service communication. 
        Updated development toolchains (JRE, JDK, JVM, .NET, DLLs).`
  },
  {
    date: 'May 2021 – June 2022',
    title: 'Unity Developer - Remote',
    icon: '../img/jellyworld_logo.webp',
    link: 'https://jellyworld.games/',
    company: 'Jellyworld Games',
    description:
      `Contributed to the release of two Steam titles: Trainpunk Run & My Daily Pets.  
      Collaborated via Slack + Agile sprints with cross-discipline teams.`,
  },
    {
        date: 'January 2021 – April 2022',
        title: 'Unity Developer Intern - Remote',
        icon: '../img/jellyworld_logo.webp',
        link: 'https://jellyworld.games/',
        company: 'Jellyworld Games',
        description:
        `Supported multiple Unity projects, delivering clean and structured code.
        Structured and refactored code for scalability and clarity.`,
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">         
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }         
</ol>

