<header class="fixed top-0 left-0 right-0 z-50 flex items-center h-16 w-full px-6 bg-white/5 backdrop-blur-md border-b border-white/10 shadow-lg shadow-black/20">
    <div class="shrink-0">
        <img 
            class="size-12 object-contain"
            src="img/Logo.png" 
            alt="Logo" 
        />
    </div>
    <nav class="flex gap-10 opacity-80 grow justify-center
    [&>a]:transition-colors [&>a:hover]:text-sky-400">
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#experience">Experience</a>
        <a href="/guides">Guides</a>  
    </nav>
</header>